<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jc497971.ourpuzzleapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OptionsActivity"
            android:label="@string/title_options" />
        <activity
            android:name=".SecondOptionsActivity"
            android:label="@string/title_second_options" />
        <activity
            android:name=".ThirdOptionsActivity"
            android:label="@string/title_third_options" />
        <activity
            android:name=".TwoOptiononeActivity"
            android:label="@string/title_two_optionone" />
        <activity
            android:name=".TwoOptiontwoActivity"
            android:label="@string/title_two_optiontwo" />
        <activity
            android:name=".TwoOptionthreeActivity"
            android:label="@string/title_two_optionthree" />
        <activity
            android:name=".ThreeOptiononeActivity"
            android:label="@string/title_three_optionone" />
        <activity
            android:name=".ThreeOptiontwoActivity"
            android:label="@string/title_three_optiontwo" />
        <activity
            android:name=".ThirdOptionthreeActivity"
            android:label="@string/title_third_optionthree" />
        <activity
            android:name=".ScoreActivity"
            android:label="@string/title_score" />
        <activity android:name=".ParentActivity"
            android:label="@string/title_parent" />
    </application>

</manifest>